.menu_content > ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.menu_content > ul > li {
    display: table-cell;
    padding: 0 40px 0 40px;
    font-size: 18px;
    font-weight: bold;
}

.menu_content > ul > li > ul {
    display: table-cell;
    margin: 0 auto;
    padding: 0;
}

.menu_content > ul > li > ul > li {
    padding-top: 20px;
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 500;
}

.menu_content > ul > li > ul > li {
    color: #9b9b9b;
}

.menu_content > ul > li > ul > li:hover {
    color: #fff;
}

.menu_content {
    display: none;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100vw;
    padding: 50px 0px 40px;
    background: #333;
    text-align: left;
    color: #fff;
    z-index: 2;
}

#menu_cate{
    cursor: pointer;
}